.content-with-top-icon .content-col {
  width: 31.3333%;
  margin-right: 3%;
  line-height: 1.8em;
  padding: 30px;
  text-align:center;
}

.content-with-top-icon .content-col:last-child {
  margin: 0;
}

.content-with-top-icon .content-image {
  font-size: 60px;
  margin-bottom: 30px;
  display: inline-block;
}

.content-with-top-icon .content-image span{
  line-height: 1;
}

.content-with-top-icon .item-wrapper {
  display: flex;
}

.content-with-top-icon .content-wrapper {
  max-width: 100%;
  width: 100%;
}

.content-with-top-icon .content-dese h4 {
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.4em;
  letter-spacing: normal;
}

.content-with-top-icon .content-dese p{
  letter-spacing:normal;
  padding: 0;
}

@media(max-width:980px){
  .content-with-top-icon .item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-with-top-icon .content-col {
    margin: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}