<!--
templateType: page
isAvailableForNewContent: true
label: Design Agency Page
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper design-agency-page">

  {% dnd_area 'row1' class='body-container design-agency-row1', label='Row 1' %}{% end_dnd_area %}
  {% dnd_area 'row2' class='body-container design-agency-row2', label='Row 2' %}{% end_dnd_area %}
  {% dnd_area 'row3' class='body-container design-agency-row3', label='Row 3' %}{% end_dnd_area %}
  {% dnd_area 'row4' class='body-container design-agency-row4', label='Row 4' %}{% end_dnd_area %}
  {% dnd_area 'row5' class='body-container design-agency-row5', label='Row 5' %}{% end_dnd_area %}
  {% dnd_area 'row6' class='body-container design-agency-row6', label='Row 6' %}{% end_dnd_area %}
  {% dnd_area 'row7' class='body-container design-agency-row7', label='Row 7' %}{% end_dnd_area %}
  {% dnd_area 'row8' class='body-container design-agency-row8', label='Row 8' %}{% end_dnd_area %}
  {% dnd_area 'row9' class='body-container design-agency-row9', label='Row 9' %}{% end_dnd_area %}
</main>
{% endblock body %}