<div class="case-studies">
  <div class="case-studies-con page-center">
    <div class="pb_divide"><div class="divider_internal"></div></div>
    <div class="heading">
      <h1>{{ module.heading }}</h1>
    </div>
    <div class="content">
      {{ module.content }}
    </div>
    <div class="case-studies-items">
      {% for item in module.items %}
      <div class="studies-item">
        <div class="studies-item-con">
          <a href="#">
            <span class="image_wrap">
              {% if item.image_field.src %}
              <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}">
              {% endif %}    
              <span class="et_overlay" data-icon="$"></span>
            </span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    {%  if module.button_group.button_type == "std" %}
    <div class="lm-button">
      {% set href = module.button_group.button_link.url.href %}
      {% if module.button_group.button_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}"
         {% if module.button_group.button_link.open_in_new_tab %}target="_blank"{% endif %}
         {% if module.button_group.button_link.rel %}rel="{{ module.button_group.button_link.rel }}"{% endif %}
         >
        {{ module.button_group.button_text }}
      </a>
    </div>
    {% endif %}
    {%  if module.button_group.button_type == "cta" %}
    <div class="lm-button">
      {% cta guid="{{ module.button_group.cta_field }}" %}
    </div>
    {% endif %}
  </div>
</div>
