

{% if theme.typography.custom_font %}

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Oswald:wght@300;400;500&display=swap');

body {
  font-family: 'Almarai', sans-serif;
}

p
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

h1,
.h1 {
  font-family: 'Almarai', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
}

h2,
.h2 {
  font-family: 'Almarai', sans-serif;
  font-weight: 700;
}

h3,
.h3 {
  font-family: 'Almarai', sans-serif;
  font-weight: 700;
}

h4,
.h4 {
  font-family: 'Almarai', sans-serif;
  font-weight: 700
}

h5,
.h5 {
  font-family: 'Almarai', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.5px;
}

h6,
.h6 {
  font-family: 'Almarai', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

label span{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px; 
}

{% endif %}