.design-agency .design-agency-con.page-center {
  width: 100%;
  max-width: 100%;
  padding: 0;
  display: flex;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
}

.design-agency .left {
  width: 50%;
  padding-top: 9.95%;
  padding-right: 8%;
  padding-bottom: 10%;
  padding-left: 8%;
  position: relative;
  z-index: 2;
  min-height: 1px;
}

.design-agency .right {
  width: 50%;
  position: relative;
}

.design-agency span.parallax_bg_wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.design-agency span.parallax_bg {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.design-agency .top-heading h3 {
  color: #353740;
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.7em;
  font-size: 16px;
  margin: 0;
}

.design-agency .heading {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.design-agency .heading h1 {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  color: #f7f7f7;
  line-height: 1.3em;
  margin: 0;
}

.design-agency .heading h1 span {
  color: #353740;
}

.design-agency .content {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.8em;
  margin-bottom: 50px;
}

.design-agency .content p {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.8em;
  color: #353740;
  font-weight: 500;
  padding: 0;
}

.design-agency .lm-button a {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid;
  color: #ffffff;
  border-width: 4px;
  border-color: #ffffff;
  border-radius: 100px;
  letter-spacing: 2px;
  font-size: 17px;
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #0C3770;
  padding-top: 14px;
  padding-right: 45px;
  padding-bottom: 12px;
  position: relative;
  padding-left: 35px;
  display: inline-block;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 12px 18px -6px rgb(0 0 0 / 30%);
  line-height: 1.7em;
}

.design-agency .lm-button a:after {
  font-feature-settings: "kern" off;
  font-variant: none;
  font-style: normal;
  position: absolute;
  transition: all 300ms ease 0ms;
  line-height: inherit;
  font-size: inherit!important;
  opacity: 1;
  margin-left: 0.3em;
  left: auto;
  font-family: 'ETmodules';
  font-weight: 400;
  content: "E";
}

.design-agency .top-heading {
  margin-bottom: 33px;
}

.design-agency .lm-button a:hover {
  color: #ffffff;
  border-color: #ffffff;
  letter-spacing: 2px;
  background-image: initial;
  background-color: rgba(0,0,0,0);
}


@media (max-width:991px){
  .design-agency .heading h1 {
    font-size: 30px;
  }

  .design-agency .content p {
    font-size: 16px;
  }

  .design-agency .lm-button a {
    font-size: 12px;
  }

  .design-agency .top-heading {
    margin-bottom: 10px;
  }

  .design-agency .content {
    margin-bottom: 20px;
  }

  .design-agency .left {
    padding: 5% 8% 5%;
  } 

  .design-agency .heading {
    margin-bottom: 10px;
  }
}

@media (max-width:767px){
  .design-agency .design-agency-con.page-center {
    flex-direction: column-reverse;
  }

  .design-agency .right {
    min-height: 350px;
  }

  .design-agency .left {
    padding: 50px 20px;
  }

  .design-agency .left, .design-agency .right {
    width: 100%;
  }

  .design-agency .heading h1 {
    font-size: 27px;
  }
}